<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>305446304302-oquf5ru7lc5vhdnqhcllt7d3qf62m06f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305446304302-oquf5ru7lc5vhdnqhcllt7d3qf62m06f</string>
	<key>API_KEY</key>
	<string>AIzaSyA5IL9qhitBcLMnXBZtDOF4WZoHUqCf9tc</string>
	<key>GCM_SENDER_ID</key>
	<string>305446304302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perception.Gleepads</string>
	<key>PROJECT_ID</key>
	<string>gleepadsinc-a01db</string>
	<key>STORAGE_BUCKET</key>
	<string>gleepadsinc-a01db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305446304302:ios:b23ccb8371d6fa55</string>
	<key>DATABASE_URL</key>
	<string>https://gleepadsinc-a01db.firebaseio.com</string>
</dict>
</plist>